.createUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 90vh; */
    padding: 20px;
  }
  .createUserContainer>h1{
    margin: 5px 0 15px 0;
  }
  .createUserBox {
    display: flex;
    background-color: rgb(241, 224, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 142, 142, 0.1);
    overflow: hidden;
    flex-direction: row-reverse;
  }
  
  .createUserAvatarContainer {
    display: flex;
    padding: 25px 16px;
    /* background: linear-gradient(to right ,rgb(90, 0, 169),#4d005e ); */
    background: #aa3bff;
    justify-content: center;
    align-items: center;
    width: 150px;
  }
  .userAvatarContainer .avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;
    background: #f9edff;
}
  .createUserAvatarContainer .avatarOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .createUserAvatarContainer .avatarOptions img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .createUserAvatarContainer .avatarOptions img:hover {
    transform: scale(1.1);
  }
  
  .userAvatarContainer {
    position: relative;
}

.editAvatarButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 5px;
    background: #ffffff;
    border: 2px solid #d1d1d1;
    color: #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.editAvatarButton:hover {
    background: #f2dcff;
}

  
  .avatarEditingPopup {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .avatarEditingPopup h3 {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .avatarEditingPopup .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #777;
    transition: color 0.3s ease-in-out;
  }
  
  .avatarEditingPopup .closeButton:hover {
    color: #333;
  }
  
  .createUserDataContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;
  }
  
  .createUserDataContainer form {
    display: grid;
    gap: 16px;
  }
  
  .createUserDataContainer label {
    font-weight: bold;
  }
  
  .createUserDataContainer input,
  .createUserDataContainer select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
  }
  .createUserDataContainer input:focus,.createUserDataContainer select:focus{
    outline: 2px solid rgb(233, 192, 255);
  }
  .createUserDataContainer .nameInputs {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }


  .createUserDataContainer button{
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 1.1em;
    border: none;
    color: #fff;
    width: auto;
    background: #c561ff;
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media (min-width: 768px) {
    .createUserDataContainer .nameInputs {
      grid-template-columns: 1fr; /* Change to single column layout for smaller screens */
    }
  }
  @media (max-width: 768px) {
    .createUserContainer{
        height: unset;
    }
    .createUserBox{
        flex-direction: column;
    }
    .createUserAvatarContainer{
        width: 300px;
    }
  }
  @media (max-width: 360px) {
    .createUserContainer{
        height: unset;
    }
    .createUserAvatarContainer{
        width: 250px;
    }
    .createUserDataContainer{
        width: 250px;
    }
  }
  